#Forma{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px; 
}
#Forma label{
    display: block;
    margin-bottom: 8px;
}
#Forma input, select{
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
}
#Forma button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#Forma button:hover{
    background-color: #45a049;
}
#Klubovi ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    background-color: #fff;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
    @media only screen and (max-width: 600px) {
      section {
        padding: 10px;
      }
    }

